body{

margin: 0;
height: auto;
background: #F6F5F3;
width: 100%;
color: black;  
overflow-y: hidden;
  
 }
 body{
     min-height: 100%;
 }
 .kindleContent{
     height: 100%;
     min-height: 100%;
     margin: auto;
 }
* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  height: 100%;
  min-height: 100%;
  
}

.menu a {
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}
.profileContent{
  
  background-image: linear-gradient(#ECEAE8,#DDD0BB);
  width: 80%;
  margin-top: 20px;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.profileContent img{
  border-radius: 15px;
  margin-top: 30px;
  width: 80px;
  height: 50px;
  text-align: center;
  
}
.username{
  font-size: 2rem;
  font-weight: bold;
  margin-top: -10px;
  
}
.sidebarItem{
  margin-top: 100px;
}

.productContent img{
  margin-left: 80px;
}
.main {
  float: left;
  width: 80%;
  padding: 0 20px;
}

.readlastTime{
  width: 100%;
  overflow-x: hidden;
  
}

.readlastTime ul{
  overflow-x: scroll;
  display: inline-flex;
  width: 100%;
  scroll-snap-align: start;
  max-height: 100%;
  overflow-y: hidden;
  margin-top: -10px;
  
}
.readlastTime ul li div img{
  border-radius: 15px;
  margin-left: 20px;
  margin-top: -10px;
  
}
.readlastTime ul li div p{
  margin-left:145px;
}
.readlastTime ul li h1{
  font-size: 1rem;
  margin-top: -160px;
  margin-left: 200px;
  padding: 2px;
}
.readlastTime ul li{
  list-style: none;
  padding: 10px;
  height: auto;
  
}

.readlastTime ul li p{
  margin-top: 5px;
  margin-left: 200px;
}
.readlastTime ul li div{
  height:10rem;
  width: 25rem;
  border-radius: 40px;
  left: 8rem;
  
}
.navContent{
  float: right;
  margin-top: -35px;
}
.navContent a{
  text-decoration: none;
  margin: 20px;
  color: #000000;
  

}
.navContent input[type=search]{
  margin: -34px;
  padding: 18px;
}
.navContent input{
  border-radius: 25px;
  margin: 10px;
  height: 30px;
  width: 200px;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}
.logo{
  width: 140px;
  height: 60px;
}
.book1{
  background-image: linear-gradient(to bottom right, #4C90A7, #FFFFFF);
}
.book2{
  background-image: linear-gradient(to bottom right, #895F47, #EC95AB);
}
.book3{
  background-image: linear-gradient(to bottom right, #221E5B, #ff7300);
}
.book4{
  background-image: linear-gradient(to bottom right, #327DBE, #79cf33);
}
.book5{
  background-image: linear-gradient(to bottom right, #3F6FE9, #FFFFFF);
}
.book6{
  background-image: linear-gradient(to bottom right, #2B3D60, #FFFFFF);
}
.fa-arrow-left{
   
  margin: 74px;
  margin-left: -22px;
}
.fa-arrow-right{
  
  margin-top: 72px;
  float: right;
  right: 36px;
  
}
.fa-arrow-left,.fa-arrow-right{
  cursor: pointer;
  position: fixed;
  font-size: 1.5rem;
}

.newRelease{
 width: 85%;
 float: left;
}

.newRelease ul{
  display: inline-flex;
  margin-left: -50px;
  margin-top: 0px;
         
}
.newRelease ul li{
  
  list-style: none;
  border-radius: 20px; ;
  cursor: pointer;
  padding: 2px;
  
 
}
.newRelease ul li button{
  border-radius: 15px;
}
.newRelease ul li div img{
  border-radius: 15px;

}
.newRelease ul li a{
  text-decoration: none;
}
.newRelease ul li h4{
  padding-left: 4px;
}

.right {
  background-color: #e5e5e5;
  float: right;
  width: 15%;
  margin-top: -310px;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
 
}
.right h1{
  font-size: 1rem;  
}
.authorImg{
  margin-top: -8px;
  width:40px;
  height: 40px;
  border-radius: 50%;
}
.right ul li{
  list-style: none;
  cursor: pointer;
  
  
}
.right ul li h3{
  font-size: 1rem;
  margin-top: -6px;
}
.sidebarItem{
  margin-top: 18px;
  margin-left: -20px;
}
.sidebarItem a{
  text-decoration: none;

}
.sidebarItem ul li{
  list-style: none;
}
.kIcon{
  border-radius: 15px;
  width: 16px;
  height: 16px;
}
.collectionIcon{
  width: 16px;
  height: 16px;
  
}
.savedIcon{
  width: 12px;
  height: 12px;
}
.fa-user, .fa-sign-out-alt{
  font-size: 1rem;
  text-decoration: none;
}


@media only screen and (min-width: 748px) {
  .fa-bars{
    display: none;
  }
  
}
@media only screen and (max-width: 748px) {
  /* For mobile phones: */
  body{
    overflow: auto;
    overflow-x: hidden;
  }
  .menu, .main, .right, .topnav,.newRelease, .profileContent,.readlastTime {
    width: 100%;
    margin: 0;
  }
  .kindleContent{
    margin-top: 100px;
    
  }
  .readlastTime ul{
    display: block;
  }
  
  .fa-bars{
   color: black;
    
  }
  #navLink{
    width: 200px;
  }
  .fa-arrow-left, .fa-arrow-right{
    display: none;
  }
  .newRelease{
    width: 100%;
  }
  .newRelease ul{
    
    display: block;
    text-align: center;
    
  }
  .fa-search{
    color: #000000;
  }
  .topnav{
    
      position: fixed;
      width: 100%;
      background: #F6F5F3;
      top: 0;
      left: 0;
      height: 100px;
      }
    
    .topnav #myLinks {
      
      background-color: #000000;
      color: white;
      display: none;
      float: left;
      
      
     
    }
    
    .topnav a {
      color:rgb(255, 255, 255);
      display: block;
      text-decoration: none;
      font-size: 17px;
      margin: 35px;
      
      
    }
    
    .topnav a.icon {
      
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    .kindleImg {
      margin-bottom: 40px;
    }
    
    .navContent input{
      border-radius: 25px;
      margin-top: -100px;
      right: 0;
      
      
     
     
    }
    
    .profileContent{
      margin-top: 120px;
      border: none;
      
    }
    .right ul li {
      display: inline-flex;
    }
    .navlink{
      color: #79cf33;
     
    }
    .profileContent{
  
      background-image: linear-gradient(#ECEAE8,#DDD0BB);
      width: 100%;
      height: 350px;
      margin-top: 20px;
      text-align: center;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .profileContent img{
      border-radius: 15px;
      margin-top: 30px;
      width: 120px;
      height: 120px;
      text-align: center;
      
    }
    .main {
      float: left;
      width: 100%;
      max-width: 100%;
     
    }
    
    .readlastTime{
      width: 100%;
      overflow-x: hidden;
      text-align: center;
      
    }
    
    .readlastTime ul{
      width: 100%;
      
    }
    .readlastTime ul li div img{
      border-radius: 15px;
      margin-left: 20px;
      margin-top: 100px;
      width: 200px;
      height: 200px;
      
      
    }
    .readlastTime ul li h1{
      font-size: 3rem;
      margin-top: 50px;
      margin-left: 10px;
    }
    .readlastTime ul li{
      list-style: none;
      
      height: auto;
      margin-left: -50px;

      
      
    }
    
    .readlastTime ul li p{
      margin-top: 5px;
      
      
    }
    .readlastTime ul li div{
      height:40rem;
      width: 100%;
    
      
    }
    
  
}


  /* For Large screen */
  @media only screen and (min-width: 1200px) {
.navContent{
  float: right;
  margin-top: -35px;
}
.navContent a{
  text-decoration: none;
  margin: 10px;
  color: #000000;
}
.navContent input[type=search]{
  margin: -24px;
  
}

.navContent input{
  border-radius: 25px;
  margin: 10px;
  width: 200px;
}
.newRelease{
  width: 85%;
  float: left;
 }
 
 .newRelease ul{
   display: inline-flex;
    margin-top: 200px;
          
 }
 .newRelease ul li{
   
   list-style: none;
   border-radius: 20px; ;
   cursor: pointer;
   margin-top: -20px;
   
  
 }
 .newRelease ul li button{
   border-radius: 15px;
 }
 .newRelease ul li div img{
   border-radius: 15px;
   width: 50%;
   height: 50%;
   margin-top: -50px;
 
 }
 .newRelease ul li a{
   text-decoration: none;
 }
 .newRelease ul li h4{
   padding-left: 10px;
 }
 
 .right {
   background-color: #e5e5e5;
   float: right;
   width: 15%;
   text-align: center;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   margin-top: -400px;
   height: 400px;
  
  
 }
 .right h1{
   font-size: 1rem;  
 }
 .authorImg{
   margin-top: -8px;
   width:40px;
   height: 40px;
   border-radius: 50%;
 }
 .right ul li{
   list-style: none;
   cursor: pointer;
   
   
 }
 .right ul li h3{
   font-size: 1rem;
   margin-top: -6px;
 }
 .profileContent{
  
  background-image: linear-gradient(#ECEAE8,#DDD0BB);
  width: 100%;
  height: 350px;
  margin-top: 20px;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.profileContent img{
  border-radius: 15px;
  margin-top: 30px;
  width: 120px;
  height: 120px;
  text-align: center;
  
}
.username{
  font-size: 2rem;
  font-weight: bold;
  margin-top: -10px;
  
}
.sidebarItem{
  margin-top: 100px;
  padding: 30px;
}

.productContent img{
  margin-left: 80px;
}

  }